* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.5rem;
}
p {
	font-size: .9rem;
}
li {
	font-size: 1.2rem;
}
/* header.php*/
body {
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-flow: row;
	height: 100%;
	width: 100%;
}
header {
	height: 100%;
	width: 250px;
	background-color: #000097;
	padding: 0;
	margin: 0;
}
.navbar {
	padding-top: 10px;
	margin: 0px;
	display: flex;
	position: relative;
	flex-flow: column wrap;
	align-items: center;
	color: rgb(255, 255, 255);
}
button {
	width: 50px;
	text-align: center;
	color: rgb(0, 0, 0);
	background-color: #fafafa;
	/* background: #161616; */
	border: none;
	border-radius: 5px;
	transition: all 0.5s ease 0s;
}
button:hover {
	/* background: #2f2f2f; */
	cursor: pointer;
	background-color: #ff6d0b;
	color: white;
}
.logo {
	font-size: 1.2rem;
	margin: .5rem;
	display: flex;
	text-align: center;
	color: #ffffff;
	transition: all 0.5s ease 0s;
}
.logo:hover {
	color: #ff6d0b;
}
.logo h2 {
	font-weight: small;
}
.nav-account {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	/*background-color: #0004ff;*/
}
.nav-account button {
	margin: 0px 60px 0px 60px;
	padding: 5px 10px 5px 10px;
}
.login-div {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-content: center;
}
.loggedin {
	color: #00c010;
	font-weight: bolder;
	text-align: center;
	display: flex;
}
.logout {
	color: #000000;
	text-decoration: none;
	float: right;
	font-weight: 1px;
}
.logout:hover {
	color: #181818;
	font-weight: bolder;
}
.navbar-links ul {
	display: flex;
	flex-flow: column;
	margin: 0;
	padding: 0;
}
.navbar-links li {
	list-style: none;
	text-align: center;
	width: 100%;
}
.nav-div-loginout {
	width: 100%;
}
.navbar-links a {
	color: #ffffff;
	padding: 1rem;
	text-decoration: none;
	display: block;

	text-transform: uppercase;
	transition: all 0.5s ease 0s;
}
.navbar-links a:hover {
	color: #ff6d0b;
}
.loginbutton {
	padding: 10px;
	color: white;
	background: #000000;
	border: none;
	border-radius: 5px;
}
.loginbutton {
	width: 50px;
	height: 25px;
}
.toggle-button {
	position: absolute;
	top: .75rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}
.toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
}
@media (max-width: 800px) {
	body {
		margin: 0;
		padding: 0;
		display: flex;
		flex-flow: column;
	}
	header {
		height: 60px;
		width: 100%;
		background-color: #000097;
	}
	.nav-section {
		display: flex;
		flex-flow: row wrap;
		height: 100%;
	}
	.navbar {
		display: flex;
		flex-flow: row;
	}
	.toggle-button {
		display: flex;
	}
	.navbar-links {
		display: none;
	}
	.navbar {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	.navbar-links ul {
		display: flex;
		align-content: center;
		
		width: 150px;
		padding-right: 10px;
	}
	.navbar-links li {
		display: flex;
		flex-flow: column;
		align-content: center;
		background-color: #000097;
		border: solid white;
		border-radius: 25px;
		transition: all 0.5s ease 0s;
	}
	.navbar-links li:hover {
		border-color: #ff6d0b;
	}
	.navbar-links li a {
		padding: .5rem 1rem;
	}
	.navbar-links.active {
		display: flex;
	}
	.nav-account {
		display: flex;
		flex-flow: row;
		justify-content: center;
		margin: 10px;
	}
	.nav-account button {
		margin: 0;
		padding: 0;
		padding: 5px 10px 5px 10px;
	}
}

.loginputs {
	display: flex;
	flex-flow: row wrap;
}
form {
	position: relative;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}
.form-signup {
	position: relative;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}





.signup {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	text-decoration: none;
	color: #000000;
	font-weight: bolder;
	width: 100%;
	text-align: center;
	transition: all 0.5s ease 0s;
	padding: 5px 10px 5px 10px;
}
.signup:hover {
	color: #ff6d0b;
}




.icon {
	display: none;
	width: 25px;
	height: 5px;
	background-color: #000000;
	margin: 5px;
}
.form {
	background-color: #2b7243;
	text-align: center;
	display: flex;
}
main {
	margin: 0px;
	padding: 5%;
	width: 100%;
	height: 100%;

	display: flex;
	flex-wrap: column wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 80px;
}
	.wrapper-main {
		background-color: #cecece;
		border: solid #000097 4px;
		border-radius: 25px;
		padding: 20px;
		height: 100%;
		width: 100%;
		
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: flex-start;
	}
		.logged-out {
			color: red;

			display: flex;
			flex-flow: column;
			justify-content: center;
			text-align: center;
			width: 100%;
			height: 100%;
		}
		.section {
			display: flex;
			flex-flow: column wrap;
			justify-content: center;
			align-items: center;
			height: 100%;
			/*background-color: #ff0000;*/
		}
		.section input {
			width: 100%;
		}
		.section h1 {
			color: black;

			display: flex;
			flex-flow: row wrap;
			justify-content: space-evenly;
			align-items: flex-start;
			align-content: center;
			/*background-color: #ff0000;*/
		}
		.section p {
			color: black;

			display: flex;
			flex-flow: row wrap;
			justify-content: space-evenly;
			align-content: center;
			line-height: 24px;
			/*text-align: center;
			background-color: #ff0000;*/
		}
			.section-div {
				width: 100%;
				text-align: center;

				display: flex;
				flex-flow: column wrap;
				justify-content: center;
				align-content: center;
				/*background-color: #00c010;*/
			}
			.section-div-div {
				width: 100%;
				text-align: center;

				display: flex;
				flex-flow: row wrap;
				justify-content: center;
				align-content: center;
				/*background-color: #fbff05;*/
			}
.error {
	width: 92%;
	margin: 0px auto;
	padding: 10px;
	border: 1px solid #ff0400;
	color: #ff0400;
	background: #f2dede;
	border-radius: 5px;
	text-align: left;
}

footer {
	display: flex;
	flex-flow: column;
	justify-content: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 80px;
	margin: auto;
	background-color: #000097;
	color: #ffffff;
	text-align: center;
}
.resume-header {
	text-align: center;
	width: 100%;
}
.resume-title-location {
	font-style: italic;
}
.resume-list {
	margin-left: 40px;
}