* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Cambria, sans-serif;
}
body {
	margin: 0;
	padding: 0;
}
header {
	height: 15%;
	background-color: #292929;
	display: flex;
}
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
}
.logo {
	color: #cfcfcf;
	text-transform: uppercase;
	padding: 30px;
	letter-spacing: 5px;
	font-size: 20px;
}
.nav-links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #292929;
}
.nav-links li {
	list-style: none;
}
.nav-links a {
	color: white;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
	display: block;
	padding: 1rem;
}
.nav-links a:hover {
	color: #ff8c00;
}
.logout {
	color: white;
	text-decoration: none;
}
.logout:hover {
	color: #ff8c00;
}
.burger {
	display: none;
}
.burger div {
	width: 25px;
	height: 5px;
	background-color: #cfcfcf;
	margin: 5px;
}
.nav-active {
	color: red;
}
@media (max-width: 600px) {
	.nav-links {
		width: 50%;
	}
	.nav-active {
		transform: translateX(0%);
	}
}
@media (max-width: 800px) {
	body {
		overflow-x: hidden;
	}
	.nav-links {
		position: absolute;
		right: 0px;
		height: 24vh;
		top: 15vh;
		background-color: #292929;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
		opacity: .9;
		border-radius: 0px 0px 0px 25px;
	}
	.burger {
		display: block;
	}
	.burger:hover {
		cursor: pointer;
	}
	.nav-active {
		transform: translateX(0%);
	}
	.toggle .line1 {
		transform: rotate(-45deg translate(-5px,6px));
	}
	.toggle .line2 {
		opacity: 0;
	}
	.toggle .line3 {
		transform: rotate(-45deg translate(-5px,6px));
	}
}
@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}
.section {
	display: flex;
	color: white;
}
.loginputs {
	display: flex;
	float: right;
} 
.signup {
	text-decoration: none;
	color: white;
}
.signup:hover {
	color: #ff8c00;
}
@media handheld {
    .img-banner {
        display: none;
	}
	header {
		height: 500px;
	}
} 
.form-signup {
	background-color: #2b7243;
	text-align: center;
	display: flex;
}
.inputtext {
	width: 100%;
	height: 40px;
	display: inline-block;
}
.loginout {
	background-color: #722b2b;
}
.wrapper-main {
	background-color: #dbdbdb;
	height: 100%;
}
.form-signup {
	display: block;
	text-align: center;
	padding: 14px 16px;
	background-color: #a5a5a5;
}
main {
	height: 100%;
}
.success {
	color: #ffffff;
	background: #48ff00;
	border: 1px solid #1100ff;
	margin-bottom: 20px;
} 
.loggedin {
	color: #00c010;
	font-weight: bolder;
	margin-bottom: 10px;
	text-align: center;

} 
.loggedout {
	color: #ff0000;
	font-weight: bolder;
	padding: 10px;
	text-align: center;
	height: 100%;
	vertical-align: auto;
} 
button {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #ff8400;
	border: none;
	border-radius: 5px;
}
.error {
	width: 92%;
	margin: 0px auto;
	padding: 10px;
	border: 1px solid #a94442;
	color: #a94442;
	background: #f2dede;
	border-radius: 5px;
	text-align: left;
}
/* .login-submit {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #ff8400;
	border: none;
	border-radius: 5px;
} */
button {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #ff8400;
	border: none;
	border-radius: 5px;
}
button:hover {
	color: #000000;
	background: #ff9e37;
	cursor: pointer;
}
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	margin: auto;
	background-color: #111;
	color: white;
	text-align: center;
}
.resume-header {
	text-align: center;
	width: 100%;
}
.resume-title-location {
	font-style: italic;
}
.resume-list {
	font-size: 15px;
	margin-left: 40px;
}
.finances {
	width: 100%;
	text-align: center;
}